<!DOCTYPE html>
<html>
<head>
	<title>Text-AI</title>


</head>
<body>

	<center>

		<h1> Text-AI</h1>


		<form action="{{url_for('predict2')}}" method = "post" >

		    <div class='regform1'> <h2>To determine the best job suggestions, please enter your resume.</h2> </div>
		 
		    
		    
		    <textarea name="ttext" class="resume1" rows="4" cols="50" ></textarea> <br>
		    
		    <button type = "submit" class = "button1"> Get the next word</button>

		    <p class='result1'>{{ prediction_text1 }}</p>

		    <p class='result2'>{{ prediction_text2 }}</p>

		    <p class='result3'>{{ prediction_text3 }}</p>

		    </div>
		    </form> 
				







	</center>

</body>
</html>